body {
	background: url("/baramalamadingdong/images/crosshatch.png") repeat scroll 0% 0% transparent;
	color: rgb(56, 53, 57);
	font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: 0;
}
#container {
	background: #fff;
	width: 960px;
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}